:root {
    font-size: 17px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem; /* Adjust this value based on the height of your nav bar */
}

@font-face {
    font-family: "Type1";
    src: url("fonts/type1/Font1-Regular.otf") format("opentype"),
         url("fonts/type1/Font1-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Type2";
    src: url("fonts/type2/Font2-Regular.otf") format("opentype"),
         url("fonts/type2/Font2-Regular.ttf") format("truetype");
    
}

body {
    font-family: 'Type1', sans-serif;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

nav {
    background-color: #8799e9;
    display: flex;
    justify-content: space-between;
    padding: 0 3.125rem;
    height: 5rem;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

nav .left a {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 600;
}

nav .right a {
    color: var(--text-color);
    font-size: 1.375rem;
    margin: 0 0.625rem;
}

nav .right a:hover {
    color: var(--link-color);
    transition: color 0.3s ease-in-out;
}